{% extends "server.jinja2" %}

{% set base_image = "debian:bullseye" %}

{% set dependencies = [
    {"pkgs": requires("debian", "bullseye", "lava-common") },
    {"pkgs": "adduser apache2 gunicorn3 iproute2 libjs-bootstrap libjs-excanvas libjs-jquery libjs-jquery-cookie libjs-jquery-flot libjs-jquery-typeahead libjs-jquery-ui libjs-jquery-watermark postgresql postgresql-client postgresql-common python3-setuptools systemd-sysv" },
    {"pkgs": requires("debian", "bullseye", "lava-server") },
    {"pkgs": requires("debian", "bullseye", "lava-server", True) },
    {"pkgs": requires("debian", "bullseye", "lava-dispatcher") },
    {"pkgs": requires("debian", "bullseye", "lava-dispatcher", True) },
    {"pkgs": "git nfs-kernel-server sudo python3-pytest-xdist"},
] %}

{% set pip_packages = ["avh-api==1.0.5"] %}
