{% extends "base.jinja2" %}

{% set base_image = "debian:bookworm" %}

{% set dependencies = [
    {"pkgs": requires("debian", "bookworm", "lava-common") },
    {"pkgs": requires("debian", "bookworm", "lava-dispatcher") },
    {"pkgs": requires("debian", "bookworm", "lava-dispatcher", True) },
    {"pkgs": "dfu-util nfs-kernel-server openocd"}
] %}

{% set pip_packages = ["avh-api==1.0.5"] %}
{% set pip_opts = "--break-system-packages" %}
